body {
  font-family: 'Red Hat Display', sans-serif;
}

section {
  background-color: white;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.heroimage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 300px;

}

.summary h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.summary p {
  font-size: 12px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  color: gray;
}

.container {
  display: flex;
  align-items: center;
  background: hsl(225, 100%, 98%);
  margin: 40px;
  border-radius: 15px;
  max-width: 300px;
  height: 70px;
  line-height: 5px;
}

.icon_music {
  padding: 10px;
  max-width: 40px;
}
.annual_plan b {
  font-size: 12px;
}

.annual_plan p {
  color: gray;
  font-size: 12px;

}

.change_link {
   font-size: 12px;
   padding:40px
}

 
.proceed{
  background: hsl(245, 75%, 52%);
  height: 30px;
  max-width: 250px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 10px 10px hsl(225, 100%, 85%);
}

.proceed p {
  font-size: 12px;
  font-weight: bold;
  color: aliceblue;
  padding-top: 5px;

}

.cancel {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

footer {
  text-align: center;
  margin-top: 100px;
  }
